<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- school_form.html -->
 <h2>
       {% if form.instance.pk %}
           Edit School
       {% else %}
           Add New School
       {% endif %}
   </h2>
   <form method="post">
       {% csrf_token %}
       {{ form.as_p }}
       <button type="submit" class="btn btn-primary">Save</button>
   </form>
   <a href="{% url 'school_list' %}" class="btn btn-secondary mt-3">Back to School List</a>